@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap);@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap);body {
  font-family: "Lato", sans-serif;
  background-color: #B2E1F1;
}

p, ul {
  font-family: "Ubuntu", sans-serif;
}

/* Slide head */
.carousel-bunch .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.carousel-bunch .overlay img {
  height: auto;
  width: auto;
}
.carousel-bunch .centrar-img {
  height: 845px;
  width: 100%;
}
.carousel-bunch .info-slide {
  text-align: inherit;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 2;
}
.carousel-bunch .info-slide .contenedor-info {
  background: #1a6f7e;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 111, 126, 0.5886729692)), color-stop(60%, rgba(34, 115, 132, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(26, 111, 126, 0.5886729692) 0%, rgba(34, 115, 132, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
  padding: 30px 15px;
  z-index: 999;
  height: 725px;
  width: 411px;
}
.carousel-bunch .info-slide .contenedor-info h1 {
  letter-spacing: 5px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
}
.carousel-bunch .info-slide .contenedor-info hr {
  border-top: 3px solid #fff;
  margin-top: 2rem;
}
.carousel-bunch .info-slide .contenedor-info p, .carousel-bunch .info-slide .contenedor-info ul {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.carousel-bunch .info-slide .contenedor-info ul {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}
.carousel-bunch .info-slide .contenedor-info ul li {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.contenedor-logo img {
  position: absolute;
  z-index: 2;
  top: 60px;
  margin-left: 6rem;
}

/* Centrar Imagen */
.centrar-img {
  overflow: hidden;
  position: relative;
}
.centrar-img img {
  position: absolute;
  left: -5000px;
  right: -5000px;
  top: -5000px;
  bottom: -5000px;
  margin: auto;
}

/* Main */
.bg-main {
  margin-bottom: -2rem;
}
.bg-main .centrar-img {
  height: 1301px;
}

.bg-main {
  position: relative;
  padding: 0px;
  overflow: hidden;
}
.bg-main .centrar-img {
  height: 1301px;
  width: auto;
}
.bg-main .centrar-img img {
  height: auto;
  width: auto;
}
.bg-main .contenedores {
  padding-top: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.bg-main .contenedores .info-contenedor {
  position: absolute;
  z-index: 1;
  color: #fff;
  width: 200px;
  height: auto;
  margin-left: 22%;
  margin-top: 8%;
}
.bg-main .contenedores .info-contenedor h1 {
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.18em;
  text-align: left;
  color: #fff;
  opacity: 0.73;
}
.bg-main .contenedores .info-contenedor p {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #fff;
  opacity: 0.73;
}
.bg-main .contenedores .align-left {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.bg-main .contenedores .align-left .info-contenedor {
  right: 17%;
}
.bg-main .contenedores .carousel-contenedor {
  position: absolute;
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.bg-main .contenedores .carousel-contenedor .carousel-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.bg-main .contenedores .carousel-contenedor .carousel-inner .carousel-item .centrar-img {
  right: 2rem;
  height: 173px;
}
.bg-main .contenedores .carousel-contenedor .carousel-inner .carousel-item .centrar-img img {
  height: 173px;
  left: -5600px;
  right: -5000px;
}
.bg-main .contenedores .carousel-contenedor .carousel-control-prev {
  left: 22%;
}
.bg-main .contenedores .contenedor-texto {
  position: absolute;
  display: block !important;
  width: 60%;
  padding: 0 0 0 15px;
}
.bg-main .contenedores .contenedor-texto h1 {
  font-size: 26px;
  color: #D12D2C;
  font-weight: 700;
}
.bg-main .contenedores .contenedor-texto .subtitulo {
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0.18em;
  text-align: left;
  color: #3E0703;
}
.bg-main .contenedores .contenedor-texto p {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #3E0703;
  padding: 0 6rem 0 8rem;
}
.bg-main .contenedores .contenedor-texto .descripcion-contenedor {
  display: -webkit-box;
  display: flex;
  margin-top: 4rem;
}
.bg-main .contenedores .contenedor-texto .icons-contenedor {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: end;
}
.bg-main .contenedores .contenedor-texto .icons-contenedor img {
  margin: 1rem;
}
.bg-main .contenedores .centrar-img {
  height: 296px;
  width: 844px;
}

footer .bg-form {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: 600px;
  background: rgba(4, 4, 4, 0.4);
  z-index: 1;
  margin-top: 30%;
}
footer .bg-form iframe {
  height: -webkit-fill-available;
  min-height: 680px;
  width: 100%;
  padding: 2rem 1rem 1rem;
}
footer .info-footer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: auto;
  background: rgba(4, 4, 4, 0.4);
  z-index: 1;
  margin-top: 60%;
  display: grid;
  padding: 2rem;
}
footer .info-footer p {
  font-size: 17px;
  letter-spacing: 0.02em;
  line-height: 22px;
  color: #fff;
}
footer .centrar-img {
  width: 100%;
  height: 923.5px;
}
footer .centrar-img img {
  width: auto;
  height: 924px;
}
footer #sawubona-footer {
  height: 23px;
  width: 100%;
  overflow: hidden;
  top: 850px;
  position: relative;
  z-index: 1;
  margin: 0 0.5rem;
}

@media (max-width: 1860px) {
  .bg-main .contenedores .contenedor-texto p {
    padding: 0px 3rem 0 4rem;
  }
}
@media (max-width: 1440px) {
  .bg-main .contenedores .contenedor-texto {
    position: absolute;
    display: block !important;
    width: 79%;
    padding: 0 0 0 15px;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4892px;
  }
  .bg-main .contenedores .centrar-img .contenedores-pares {
    right: -5000px;
  }
}
@media (max-width: 1366px) {
  .bg-main .contenedores .contenedor-texto {
    width: 84%;
  }
  .bg-main .contenedores .contenedor-texto p {
    padding: 0 2rem 0 2rem;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4850px;
  }
  .bg-main .contenedores .centrar-img .contenedores-pares {
    right: -5000px;
  }
  .bg-main .contenedores .carousel-contenedor .carousel-inner .carousel-item .centrar-img img {
    left: -5640px;
  }
  .bg-main .contenedores .info-contenedor {
    margin-left: 25%;
    margin-top: 12%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 24%;
  }
}
@media (max-width: 1024px) {
  .contenedor-logo img {
    top: 30px;
  }

  .carousel-bunch .info-slide {
    top: 17%;
  }
  .carousel-bunch .info-slide .contenedor-info {
    height: 700px;
    width: 400px;
  }
  .carousel-bunch .info-slide .contenedor-info h1 {
    font-size: 19px;
  }
  .carousel-bunch .info-slide .contenedor-info p {
    font-size: 17px;
  }
  .carousel-bunch .carousel-item .centrar-img img {
    left: -4500px;
  }
  .carousel-bunch .centrar-img img {
    right: -4750px;
  }

  .bg-main {
    margin-bottom: -5rem;
  }
  .bg-main .contenedores {
    padding-top: 5rem;
    overflow: hidden;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4675px;
  }
  .bg-main .contenedores .contenedor-texto {
    width: 100%;
    padding: 0 0 0 15px;
  }
  .bg-main .contenedores .contenedor-texto h1 {
    padding: 0 15px;
  }
  .bg-main .contenedores .contenedor-texto p {
    padding: 0 0rem 0 6rem;
  }
  .bg-main .contenedores .carousel-contenedor {
    width: 125%;
  }
  .bg-main .contenedores .info-contenedor {
    margin-left: 35%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 28%;
  }
  .bg-main .centrar-img .bg-section {
    right: -4750px;
  }
  .bg-main .centrar-img img {
    right: -4660px;
  }

  footer {
    margin-top: -4rem;
  }
}
@media (max-width: 991px) {
  .contenedor-logo img {
    margin-left: 4rem;
  }

  .carousel-bunch .info-slide {
    top: 17%;
  }
  .carousel-bunch .info-slide .contenedor-info {
    width: 357px;
    height: 760px;
  }
}
@media (max-width: 768px) {
  .bg-main .contenedores .centrar-img img {
    right: -4554px;
  }
  .bg-main .contenedores .contenedor-texto .descripcion-contenedor {
    margin-top: 4rem;
    display: block;
  }
  .bg-main .contenedores .contenedor-texto p {
    padding: 0 15px;
    width: 100%;
  }
  .bg-main .contenedores .contenedor-texto .icons-contenedor {
    justify-content: space-around;
  }
  .bg-main .contenedores .contenedor-texto .icons-contenedor img {
    margin: 0.5rem;
  }
  .bg-main .contenedores .info-contenedor {
    margin-top: 20%;
    margin-left: 37%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 30%;
  }

  footer .info-footer {
    padding: 1rem;
  }
  footer .centrar-img img {
    width: auto;
    height: 924px;
    left: -4700px;
  }
}
@media (max-width: 576px) {
  .carousel-bunch .carousel-item .centrar-img img {
    left: -5000px;
  }
  .carousel-bunch .centrar-img img {
    right: -5000px;
  }
  .carousel-bunch .info-slide .contenedor-info {
    width: 85%;
    height: 700px;
  }

  .bg-main {
    height: 1850px;
  }
  .bg-main .contenedores .info-contenedor {
    margin-top: 17%;
    margin-left: 30%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 38%;
  }
  .bg-main .contenedores .contenedor-texto {
    padding: 0 15px;
    position: relative;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4559px;
  }
  .bg-main .contenedores .centrar-img .bg-carousel {
    right: -5000px;
  }
  .bg-main .centrar-img .bg-section {
    right: -5000px;
  }
  .bg-main .centrar-img img {
    right: -5000px;
  }

  footer .bg-form {
    margin-top: 9%;
  }
  footer .info-footer {
    margin-top: 734px;
  }
  footer .centrar-img {
    height: auto;
    min-height: 1000px;
  }
  footer .centrar-img img {
    height: 100%;
  }
  footer #sawubona-footer {
    top: 991px;
  }
}
@media (max-width: 480px) {
  .bg-main {
    height: 2150px;
  }
  .bg-main .contenedores .carousel-contenedor .carousel-inner .carousel-item .centrar-img {
    right: 2.5rem;
  }
  .bg-main .contenedores .info-contenedor {
    margin-top: 17%;
    margin-left: 60%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 49%;
  }
  .bg-main .contenedores .contenedor-texto {
    position: relative;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4668px;
  }
  .bg-main .contenedores .centrar-img .bg-carousel {
    right: -5000px;
  }

  footer .info-footer {
    margin-top: 728px;
  }
  footer .info-footer p {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .carousel-bunch .info-slide .contenedor-info {
    height: 780px;
    width: auto;
    margin: 0 15px;
  }

  .bg-main .contenedores .info-contenedor {
    margin-left: 50%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 43%;
  }
  .bg-main .contenedores .centrar-img .contenedores-pares {
    right: -4940px;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4585px;
  }

  footer .bg-form {
    height: 650px;
  }
  footer .bg-form iframe {
    height: 600px;
    padding: 0px;
  }
  footer .info-footer {
    margin-top: 686px;
  }
}
@media (max-width: 340px) {
  .bg-main .contenedores .contenedor-texto .icons-contenedor img {
    width: 40px;
  }
  .bg-main .contenedores .centrar-img img {
    right: -4545px;
  }
  .bg-main .contenedores .info-contenedor {
    margin-left: 46%;
  }
  .bg-main .contenedores .align-left .info-contenedor {
    right: 34%;
  }
}